{
  "default_password" : "{{ blueprint_default_password }}",
  "blueprint" : "{{ cluster_name }}",
{% if 'KERBEROS' in blueprint_services %}
  "credentials" : [
   {
     "alias" : "kdc.admin.credential",
     "principal" : "{{ kdc_admin_user }}/admin",
     "key" : "{{ kdc_admin_password }}",
     "type" : "TEMPORARY"
   }
 ],
 "security" : {
        "type" : "KERBEROS"
 },
 {% endif %}
  "configurations" : [
{% if 'OOZIE' in blueprint_services %}
    {
      "oozie-site" : {
        "oozie.service.JPAService.jdbc.password" : "{{ mysql_oozie_password }}"
      }
    },
{% endif %}
    {
      "hive-site" : {
        "javax.jdo.option.ConnectionPassword" : "{{ mysql_hive_password }}"
      }
    }
  ],
  "host_groups" :[
    {
      "name" : "mn01",
      "hosts" : [
        {
          "fqdn" : "master1.shinigami.com"
        }
      ]
    },
    {
      "name" : "mn02",
      "hosts" : [
        {
          "fqdn" : "master2.shinigami.com"
        }
      ]
    },
    {
      "name" : "mn03",
      "hosts" : [
        {  
          "fqdn" : "master3.shinigami.com"
        }
      ]
    },
    {
      "name" : "datanode",
      "hosts" : [
        {
          "fqdn" : "datanode1.shinigami.com"
        },
        {
          "fqdn" : "datanode2.shinigami.com"
        }
      ]
    }
  ]
}
