{
"blueprint" : "blueprintMulti",
"default_password" : "admin",
"host_groups" :[
   {
     "name" : "master",
     "hosts" : [
       {
         "fqdn" : "master1.shinigami.com"
       }
     ]
   },
   {
     "name" : "slave",
     "hosts" : [
       {
         "fqdn" : "datanode1.shinigami.com"
       },
       {
         "fqdn" : "datanode2.shinigami.com"
       }
     ]
   }
]
}
