{
    "blueprint": "kerberosBlueprint",
    "default_password": "admin",
    "host_groups": [
        {
          "hosts": [
              { "fqdn": "master1.cloudwick.com" }
          ],
          "name": "master1",
          "configurations" : [ ]
        },
        {
          "hosts": [
              { "fqdn": "master2.cloudwick.com" }
          ],
          "name": "master2",
          "configurations" : [ ]
        },
        {
          "hosts": [
              { "fqdn": "datanode1.cloudwick.com" },
              { "fqdn": "datanode2.cloudwick.com" }
          ],
          "name": "slave",
          "configurations" : [ ]
        }
    ],
    "credentials" : [
     {
       "alias" : "kdc.admin.credential",
       "principal" : "admin/admin",
       "key" : "admin",
       "type" : "TEMPORARY"
     }
    ],
    "security" : {
        "type" : "KERBEROS"
   }
}
