{
"blueprint" : "rangerTest",
"default_password" : "admin",
"host_groups" :[
   {
     "name" : "master1",
     "hosts" : [
       {
         "fqdn" : "master1.shinigami.com"
       }
     ]
   },
   {                                     
     "name" : "master2",                 
     "hosts" : [                         
      {                                 
        "fqdn" : "master2.shinigami.com"
      }                                 
     ]                                   
   }                                     
]
}
